<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="cntryl" value="https://nuget.pkg.github.com/cntryl/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <cntryl>
      <add key="Username" value="%GITHUB_ACTOR%" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </cntryl>
  </packageSourceCredentials>
</configuration>
